.container {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--mantine-spacing-sm);
}

.headerTitle {
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
}
