.header {
  border-bottom: 1px solid var(--mantine-color-gray-3);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: var(--mantine-z-index-app);
}

.headerContent {
  height: 56px;
  padding-inline: var(--mantine-spacing-md);
  justify-content: space-between;
  width: 100%;
}

.titleSection {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.actionSection {
  gap: var(--mantine-spacing-xs);
}
