.card {
  border-style: dashed;
  background-color: var(--mantine-color-muted-0);
  margin-bottom: var(--mantine-spacing-md);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mantine-spacing-xs);
  gap: var(--mantine-spacing-xs);
}

.headerGroup {
  gap: var(--mantine-spacing-xs);
}

.tokensGroup {
  max-height: 26px;
  gap: var(--mantine-spacing-md);
  flex-wrap: wrap;
}

.cardSection {
  padding: var(--mantine-spacing-xs);
}
