.tabsList {
  border-bottom: 1px solid var(--mantine-color-gray-3);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tabItem {
  flex: 1;
  text-align: center;
  border-radius: 0;
}

.tabGroup {
  gap: var(--mantine-spacing-xs);
}
